@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
}

.blue-background{
    background-color: #539be2;
    max-height: 30%;
}


.mail-body{
    background-color: white;
    padding: 50px 30px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 5px;
}


.mail-title{
    font-size: 42px;
    font-weight: 550;
    letter-spacing: 5px;
    text-align: center;
    color: #111111;
    padding-bottom: 40px;
    
}

.video{
    width: 700px;
}

.semi-title{
    font-size: 25px;
    line-height: 50px;
    color: #111111;
    padding-top: 20px;
}

.paragraph{
    color: #666666;
}

.blue-link{
    font-size: 18px;
    font-weight: 600;
    color:#579de2;
    
}

.mail-help{
    background-color: #b3e5fc;
    text-align: center;
    line-height: 30px;
    padding: 50px 30px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
}

.mail-help p{
    font-size: 20px;
}

.mail-footer{
    text-align: left;
    padding: 50px 30px;
    max-width: 500px;
    margin: 0 auto ;
}

.mail-footer p{

}

.black-link{
    color: #111111;
}

p {
    line-height: 20px;
}


